<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Encurtador de Links</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <img src="./img/logo.png" alt="Alternate Text" />
        <h1>Short your url here:</h1>
        <form method="post" action="/Url/Short">
            <input type="text" name="url" placeholder="https://example.com" class="container-input" required />
            <button type="submit" class="container-button">Shorten</button>
        </form>
    </div>

    <script src="/js/script.js"></script>


</body>

</html>
